<div class="sticky-top">
  <img src="/assets/icon.png">

  <h5 class="mt-3">Mycoria Router</h5>

  <p class="text-secondary fw-light text-break">
    {{ .RouterID }}
  </p>

  <ul class="nav flex-column mt-5">
    <li class="nav-item">
      <a class="nav-link icon-link icon-link-hover link-secondary ps-0"
        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
        href="/discover">
        <i class="bi bi-broadcast-pin mb-2 me-3"></i>
        Discover
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-link icon-link-hover link-secondary ps-0"
        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
        href="/mappings">
        <i class="bi bi-at mb-2 me-3"></i>
        Domains
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-link icon-link-hover link-secondary ps-0"
        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
        href="/table">
        <i class="bi bi-diagram-3 mb-2 me-3"></i>
        Routing Table
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-link icon-link-hover link-secondary ps-0"
        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
        href="/config">
        <i class="bi bi-gear mb-2 me-3"></i>
        Config
      </a>
    </li>
  </ul>
</div>
