{{ template "base.html" . }}

{{ define "title" }}Mycoria Discover{{ end }}

{{ define "content" }}
<div class="container-fluid p-3">
  <div class="row g-3 row-cols-1 row-cols-lg-2 row-cols-xl-3">
    {{ range .Page.Routers }}
    {{ $router := . }}
    {{ range .PublicInfo.PublicServices }}
    <div class="col">

      <div class="card border-0 bg-body-tertiary">
        <div class="card-header text-body-emphasis bg-body-secondary">
          <strong>{{ .Name }}</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>{{ .Domain }}</strong>
            <br>
            <small>{{ $router.Address.IP }}</small>
          </p>
          <p class="card-text text-secondary">
            {{ .Description }}
          </p>
        </div>
        <div class="card-footer bg-body-tertiary d-flex justify-content-around">
          <a target="_blank" href="/open/{{ .Domain }}/{{ $router.Address.IP }}/">Open Domain</a>
          <a target="_blank" href="http://[{{ $router.Address.IP }}]/">Open IP</a>
        </div>
      </div>

    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
