{{ template "base.html" . }}

{{ define "title" }}Mycoria Discover{{ end }}

{{ define "content" }}
<section class="section">
  <h1 class="title">Discover</h1>

  <div class="columns">
    {{ range .Page.Routers }}
    {{ $router := . }}
    {{ range .PublicInfo.PublicServices }}
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-quarter-fullhd">
      <div class="card">
        <div class="card-content">
          <p class="title">
            {{ .Name }}
          </p>
          <p class="subtitle">
            {{ .Domain }}<br>
            {{ $router.Address.IP }}
          </p>
          <div class="content">
            {{ .Description }}
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              <a target="_blank" href="/open/{{ .Domain }}/{{ $router.Address.IP }}/">Open Domain</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              <a target="_blank" href="http://[{{ $router.Address.IP }}]/">Open IP</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    {{ end }}
  {{ end }}
  </div>
</section>
{{ end }}
