{{ template "plain.html" . }}

{{ define "title" }}Mycoria Open Domain{{ end }}

{{ define "content" }}
<div class="container-fluid p-0 my-5 text-center">
  
  <h1>Access {{ .Page.MapDomain }}</h1>

  {{ if .Page.Error }}
  <div class="h2 p-5 my-5 bg-danger bg-opacity-75 text-body-emphasis">
    Error: {{ .Page.Error }}
  </div>
  {{ else if ne .Page.MappedRouter "" }}
  <div class="h2 p-5 my-5 bg-warning bg-opacity-75 text-body-emphasis">
    Change: {{ .Page.MapDomain }} ➢ {{ .Page.MapRouter }}
  </div>
  {{ else }}
  <div class="h2 p-5 my-5 bg-success bg-opacity-75 text-body-emphasis">
    New: {{ .Page.MapDomain }} ➢ {{ .Page.MapRouter }}
  </div>
  {{ end }}

  <div>
    <form action="" method="POST">
      <!-- Hidden Fields -->
      <input type="hidden" name="nonce" value="{{ .Page.Nonce }}">
      <input type="hidden" name="token" value="{{ .Page.Token }}">
      
      <!-- Submit Button -->
      <button type="submit"
        class="btn {{ if .Page.MappedRouter }}btn-warning{{ else }}btn-success{{ end }}">
        Set and Open
      </button>
    </form>
  </div>
  
  {{ if ne .Page.MapDomain .Page.MapDomainCleaned }}
  <div class="d-flex justify-content-center">
    <div class="alert alert-info my-5 bg-transparent text-body-emphasis" role="alert">
      <strong>{{ .Page.MapDomain }}</strong>
      is an internationalized domain name (IDN) and is also represented as
      <strong>{{ .Page.MapDomainCleaned }}</strong>
    </div>
  </div>
  {{ end }}

</div>
{{ end }}
