{{ template "base.html" . }}

{{ define "title" }}Mycoria Router{{ end }}

{{ define "content" }}
<section class="section">
  <h1 class="title">Mycoria Router</h1>
  <h2 class="subtitle">{{ .RouterID }}</h2>
</section>

<section class="section">
  <h4 class="title is-4">Version</h4>
  <table class="table is-bordered is-striped is-narrow is-hoverable">
    <tbody>
      <tr>
        <th class="has-background-light">Version</th>
        <td>{{ .Version }}</td>
      </tr>
      <tr>
        <th class="has-background-light">From</th>
        <td>{{ .Page.BuildInfo.Path }}</td>
      </tr>
      <tr>
        <th class="has-background-light">Commit</th>
        <td>
          {{ index .Page.BuildSettings "vcs.revision" }}
          @{{ index .Page.BuildSettings "vcs.time" }}
          dirty={{ index .Page.BuildSettings "vcs.modified" }}
        </td>
      </tr>
      <tr>
        <th class="has-background-light">Go</th>
        <td>
          {{ .Page.BuildInfo.GoVersion }}
          {{ .Page.BuildSettings.GOOS }}
          {{ .Page.BuildSettings.GOARCH }}
        </td>
      </tr>
    </tbody>
  </table>

  <h4 class="title is-4">Environment</h4>
  <table class="table is-bordered is-striped is-narrow is-hoverable">
    <tbody>
      <tr>
        <th class="has-background-light">Uptime</th>
        <td>{{ .Uptime.Round 1000000000 }}</td>
      </tr>
      <tr>
        <th class="has-background-light">Started</th>
        <td>{{ .Started.Round 1000000000 }}</td>
      </tr>
      <tr>
        <th class="has-background-light">Host CPUs</th>
        <td>{{ .Page.NumCPU }}</td>
      </tr>
      <tr>
        <th class="has-background-light">Goroutines</th>
        <td>{{ .Page.NumGoroutine }}</td>
      </tr>
      <tr>
        <th class="has-background-light">Memory Usage</th>
        <td>{{ .Page.MemStats.HeapAlloc | filesizeformat }}</td>
      </tr>
    </tbody>
  </table>

  <h4 class="title is-4">Build Info</h4>
  <table class="table is-bordered is-striped is-narrow is-hoverable">
    <tbody>
      {{ range $key, $value := .Page.BuildSettings }}
      <tr>
        <th class="has-background-light">{{ $key }}</th>
        <td>{{ $value }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>  
</section>

{{ end }}
