{{ template "base.html" . }}

{{ define "title" }}Mycoria Routing Table{{ end }}

{{ define "content" }}
<div class="card bg-body-tertiary border-0 text-body-emphasis m-3">
  <div class="card-header bg-body-secondary text-body-emphasis d-flex">
    <div class="me-auto">
      <strong>Routing Table</strong>
    </div>

    {{ if .Page.Lite }}
    <div class="text-danger ms-3">Lite Mode: Unsubscribed from Routes</div>
    {{ end }}
    {{ if .Page.Stub }}
    <div class="text-warning ms-3">Stub</div>
    {{ end }}
  </div>
  <div class="card-body">
    <pre>{{ .Page.Table }}</pre>
  </div>
</div>
{{ end }}
